<!doctype html>
<html lang="en">

<head>
  <title>Sola</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="order-last" class="img" style="background-image: url(images/bg_1.jpg);">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="">
        <h1><a href="index.html" class="logo">Sola</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/attendance"><span class="fa fa-eye mr-3"></span> Attendance</a>
          </li>
          <li>
            <a href="/homework"><span class="fa fa-list mr-3"></span> Homework</a>
          </li>
          <li>
            <a href="/progress"><span class="fa fa-chart-bar mr-3"></span> Progress</a>
          </li>
          <li>
            <a href="/events"><span class="fa fa-calendar-alt mr-3"></span> Events</a>
          </li>
          <li>
            <a href="/chat"><span class="fa fa-envelope mr-3"></span> Messages</a>
          </li>
          <li>
            <a href="/myinfo"><span class="fa fa-user-circle mr-3"></span> My info</a>
          </li>
          <li>
            <a href="/logout"><span class="fa fa-sign-out-alt mr-3"></span> Sign Out</a>
          </li>
        </ul>


      </div>

    </nav>

    <!-- Page Content  -->

    <div id="content" class="p-4 p-md-5 pt-5">
      <div id="body">
        <div class="attendance-table">
            <table>
              <thead>
                <tr>
                  <th class="day"></th>
                  <th class="days">Monday</th>
                  <th class="days">Tuesday</th>
                  <th class="days">Wednesday</th>
                  <th class="days">Thursday</th>
                  <th class="days">Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="name">Zikre</td>
                  <td class="zikre"></td>
                  <td class="zikre"></td>
                  <td class="zikre"></td>
                  <td class="zikre"></td>
                  <td class="zikre"></td>
                </tr>
                <tr>
                </tr>
                <tr>
                  <td class="name">Ken</td>
                  <td class="ken"></td>
                  <td class="ken"></td>
                  <td class="ken"></td>
                  <td class="ken"></td>
                  <td class="ken"></td>
                </tr>
                <tr>
                  <td class="name">Sebastian</td>
                  <td class="sebastian"></td>
                  <td class="sebastian"></td>
                  <td class="sebastian"></td>
                  <td class="sebastian"></td>
                  <td class="sebastian"></td>
                </tr>
                <tr>
                  <td class="name">Sam</td>
                  <td class="sam"></td>
                  <td class="sam"></td>
                  <td class="sam"></td>
                  <td class="sam"></td>
                  <td class="sam"></td>
                </tr>
                <tr>
                  <td class="name">Eric</td>
                  <td class="eric"></td>
                  <td class="eric"></td>
                  <td class="eric"></td>
                  <td class="eric"></td>
                  <td class="eric"></td>
                </tr>
                <tr>
                  <td class="name">Jessie</td>
                  <td class="jessie"></td>
                  <td class="jessie"></td>
                  <td class="jessie"></td>
                  <td class="jessie"></td>
                  <td class="jessie"></td>
                </tr>
                <tr>
                  <td class="name">Asiah</td>
                  <td class="asiah"></td>
                  <td class="asiah"></td>
                  <td class="asiah"></td>
                  <td class="asiah"></td>
                  <td class="asiah"></td>
                </tr>
                <tr>
                  <td class="name">Abbey</td>
                  <td class="abbey"></td>
                  <td class="abbey"></td>
                  <td class="abbey"></td>
                  <td class="abbey"></td>
                  <td class="abbey"></td>
                </tr>
                <tr>
                  <td class="name">Nyah</td>
                  <td class="nyah"></td>
                  <td class="nyah"></td>
                  <td class="nyah"></td>
                  <td class="nyah"></td>
                  <td class="nyah"></td>
                </tr>
                <tr>
                  <td class="name">Orson</td>
                  <td class="orson"></td>
                  <td class="orson"></td>
                  <td class="orson"></td>
                  <td class="orson"></td>
                  <td class="orson"></td>
                </tr>
                <tr>
                  <td class="name">Ilunga</td>
                  <td class="ilunga"></td>
                  <td class="ilunga"></td>
                  <td class="ilunga"></td>
                  <td class="ilunga"></td>
                  <td class="ilunga"></td>
                </tr>
                <tr>
                  <td class="name">Elmer</td>
                  <td class="elmer"></td>
                  <td class="elmer"></td>
                  <td class="elmer"></td>
                  <td class="elmer"></td>
                  <td class="elmer"></td>
                </tr>
              </tbody>
            </table>
            <button type="submit" name="button" id="button">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery.copy.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.copy.js"></script>
  <script src="attendance.js"></script>
</body>

</html>
